.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

body, html {
  font-family: "Rubik", sans-serif;
  color: #1d262f; }

section {
  padding: 60px 0;
  position: relative; }
  section h3 {
    color: #1d262f;
    font-size: 32px;
    font-weight: 700;
    padding: 0;
    margin-bottom: 20px; }
    section h3 > span {
      position: relative; }
      section h3 > span:after {
        bottom: 4px;
        height: 4px;
        background: #f15a39;
        content: "";
        position: absolute;
        left: 0;
        right: 0; }
  section p.lead {
    color: #9fa4a8;
    font-size: 18px;
    font-weight: 300;
    line-height: 200%; }

header {
  height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 2; }
  header .logo, header .main-nav {
    -ms-flex-align: center;
        align-items: center; }
  header .header-cta {
    margin-left: auto; }

.main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  display: none; }
  .main-nav li {
    font-size: 16px;
    margin: 0 20px; }
    .main-nav li > a {
      color: #9fa4a8;
      text-decoration: none;
      padding: 8px 0;
      display: block;
      transition: color ease 0.3s; }
    .main-nav li:hover > a {
      color: #1d262f; }
    .main-nav li.active > a,
    .main-nav li.active:hover > a {
      color: #1d262f;
      box-shadow: inset 0px -2px 0px 0px #f15a39; }

.hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 50px 0;
  padding-top: 150px;
  margin-top: -120px; }
  .hero:after {
    height: 900px;
    content: "";
    background: linear-gradient(120deg, #f17e39, #f15a39);
    background-blend-mode: screen;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    position: absolute;
    z-index: -1; }
  .hero h1 {
    font-weight: 700;
    font-size: 54px; }
  .hero p {
    font-weight: 300;
    color: #9fa4a8;
    margin-bottom: 40px;
    font-size: 20px; }
  .hero .btn-cta-hero {
    padding-right: 70px;
    position: relative; }
    .hero .btn-cta-hero .icon {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: #f15a39;
      top: 8px;
      right: 8px;
      line-height: 40px;
      color: #ffffff;
      z-index: 2;
      display: block;
      position: absolute;
      font-size: 20px; }
      .hero .btn-cta-hero .icon > i {
        margin-left: 6px;
        position: relative;
        top: 1px; }

.hero-img {
  position: relative; }
  .hero-img img {
    width: auto;
    max-width: 80%;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    display: block; }
    .hero-img img.img-hero {
      animation: hero-img 6s ease-in-out infinite; }
    .hero-img img.img-shadow {
      position: absolute;
      margin: auto;
      top: 10px;
      right: 0;
      left: -30px;
      z-index: 1;
      animation: shadow-img 5s ease-in-out infinite; }

.circle-pernik {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  box-shadow: inset 0 0 0 8px #f15a39;
  content: "";
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 4;
  animation: pernik-circle 3s ease-in-out infinite; }
  .circle-pernik:nth-child(3) {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    top: auto;
    left: auto;
    bottom: 10px;
    right: 24%;
    animation: none; }
  .circle-pernik:nth-child(4) {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
    top: 5%;
    left: 80px;
    animation: none; }

.cross-pernik {
  width: 18px;
  height: 6px;
  background: #e5e5e5;
  content: "";
  position: absolute;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  bottom: -10px;
  right: 54%;
  z-index: 4;
  animation: pernik-cross-1 5s ease-in-out infinite; }
  .cross-pernik:after {
    width: 18px;
    height: 6px;
    background: #e5e5e5;
    content: "";
    position: absolute;
    -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
  .cross-pernik:nth-child(6) {
    background: #f15a39;
    bottom: 45%;
    right: 0;
    -ms-transform: rotate(60deg);
        transform: rotate(60deg);
    animation: pernik-cross-2 6s ease-in-out infinite; }
    .cross-pernik:nth-child(6):after {
      background: #f15a39; }

.rounded-pernik {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 6px rgba(0, 0, 0, 0.1);
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  margin-left: -16px;
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  z-index: 4;
  animation: pernik-rounded-1 3s ease-in-out infinite; }
  .rounded-pernik:nth-child(8) {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    box-shadow: inset 0 0 0 4px rgba(0, 0, 0, 0.1);
    top: 80%;
    left: 0;
    margin-left: 0; }

@keyframes shadow-img {
  50% {
    transform: rotate(10deg); } }

@keyframes hero-img {
  50% {
    transform: translateY(10px) rotate(-2deg); } }

@keyframes pernik-circle {
  50% {
    transform: translateY(5px); } }

@keyframes pernik-cross-1 {
  50% {
    transform: rotate(95deg); } }

@keyframes pernik-cross-2 {
  50% {
    transform: rotate(-80deg) translateY(-20px) translateX(10px); } }

@keyframes pernik-rounded-1 {
  50% {
    transform: rotate(95deg); } }

.macbook {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 50%;
  max-height: 940px;
  display: none; }

.about {
  position: relative; }
  .about .lead {
    margin-bottom: 30px; }

.service .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.service .service-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-left: -15px;
  margin-right: -15px; }

.service .service-card {
  -ms-flex: 0 1 calc(100% - 30px);
      flex: 0 1 calc(100% - 30px);
  border-radius: 40px;
  padding: 40px 30px;
  box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
  margin: 15px; }
  .service .service-card h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px; }
  .service .service-card p {
    color: #9fa4a8; }
    .service .service-card p:last-child {
      margin-bottom: 0; }
  .service .service-card .icon-wrap {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.03);
    position: relative;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .service .service-card .icon-wrap .ji {
      font-size: 100px;
      color: #f15a39; }
    .service .service-card .icon-wrap:before {
      position: absolute;
      width: 130px;
      height: 130px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.03);
      content: "";
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
    .service .service-card .icon-wrap:after {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.03);
      content: "";
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .service .service-card.active {
    background: linear-gradient(120deg, #f17e39, #f15a39);
    background-blend-mode: screen; }
    .service .service-card.active h4, .service .service-card.active p {
      color: #ffffff; }
    .service .service-card.active .icon-wrap .ji {
      color: #ffffff; }

.cta .cta-box {
  border-radius: 40px;
  padding: 60px 40px;
  color: #ffffff;
  overflow: hidden; }
  .cta .cta-box h3, .cta .cta-box .lead {
    color: #ffffff;
    position: relative;
    z-index: 3; }
  .cta .cta-box .lead {
    margin-bottom: 60px; }

.work .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.work .work-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: -15px;
  margin-right: -15px; }
  .work .work-container .work-thumbnail {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin: 15px;
    -ms-flex: 0 1 calc(100% - 30px);
        flex: 0 1 calc(100% - 30px);
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.08); }
    .work .work-container .work-thumbnail:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 62.5%; }
    .work .work-container .work-thumbnail .media-content {
      position: absolute;
      top: -999999px;
      left: -999999px;
      right: -999999px;
      bottom: -999999px;
      margin: auto;
      width: 100%; }

.work .work-thumbnails {
  -ms-flex-order: 2;
      order: 2; }

.work .work-caption {
  text-align: right;
  -ms-flex-order: 1;
      order: 1;
  margin-bottom: 20px; }

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -ms-transform: scale(0.8);
      transform: scale(0.8); }

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -ms-transform: scale(1);
      transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -ms-transform: scale(0.8);
      transform: scale(0.8);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.team {
  overflow: hidden; }
  .team:after {
    display: none;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    background: linear-gradient(120deg, #f17e39, #f15a39);
    background-blend-mode: screen;
    -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    position: absolute;
    z-index: -1; }
  .team .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .team .lead {
    margin-bottom: 30px; }
  .team .team-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .team .team-caption {
    margin-bottom: 40px; }
  .team .team-pic {
    border-radius: 20px;
    margin: 20px 0;
    overflow: hidden;
    box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.06); }
    .team .team-pic .avatar {
      position: relative;
      overflow: hidden; }
      .team .team-pic .avatar:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%; }
      .team .team-pic .avatar .media-content {
        position: absolute;
        top: -999999px;
        left: -999999px;
        right: -999999px;
        bottom: -999999px;
        margin: auto;
        width: 100%; }
    .team .team-pic .caption {
      padding: 15px;
      text-align: center; }
      .team .team-pic .caption > p {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 5px;
        font-size: 14px; }
      .team .team-pic .caption span {
        color: #f15a39;
        font-family: "Open Sans", sans-serif;
        font-size: 12px; }

.contact {
  background: #fafafa;
  text-align: center; }
  .contact .lead {
    margin-bottom: 40px; }
  .contact .contact-form .form-group {
    margin-bottom: 15px; }
  .contact .contact-form .custom-select,
  .contact .contact-form .form-control {
    text-align: left; }
  .contact .contact-form textarea.form-control {
    height: 170px;
    margin-bottom: 30px;
    resize: none;
    padding-top: 15px;
    padding-bottom: 15px; }

footer {
  background: #131a22;
  color: #606264;
  padding: 30px 15px;
  text-align: center;
  font-size: 14px;
  position: relative; }
  footer .logo-bottom {
    height: auto;
    max-height: 43px;
    margin-bottom: 20px; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    margin-bottom: 10px; }
    footer ul li {
      font-size: 16px;
      margin: 0 20px;
      display: inline-block; }
      footer ul li > a {
        color: #606264;
        text-decoration: none;
        padding: 8px 0;
        display: block;
        transition: color ease 0.3s; }
      footer ul li:hover > a {
        color: #ffffff;
        text-decoration: none; }

.btn--jtech {
  height: 50px;
  border-radius: 25px;
  background-color: #f15a39;
  color: #ffffff;
  padding-left: 40px;
  padding-right: 40px;
  letter-spacing: 4px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px; }
  .btn--jtech:focus, .btn--jtech .focus {
    box-shadow: none; }
  .btn--jtech:active, .btn--jtech.active, .btn--jtech:hover {
    background-color: #e73710;
    color: #ffffff; }
  .btn--jtech.has-shadow {
    box-shadow: 0px 12px 28px 0px rgba(0, 0, 0, 0.2); }
    .btn--jtech.has-shadow:hover {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2); }
  .btn--jtech.btn--inverted {
    background-color: #ffffff;
    color: #f15a39; }
  .btn--jtech.btn--outline {
    border-color: #eaeaea;
    color: #f15a39;
    border-width: 2px;
    background: transparent; }
    .btn--jtech.btn--outline:active,
    .btn--jtech.btn--outline .active, .btn--jtech.btn--outline:hover {
      color: #ffffff;
      background-color: #f15a39;
      border-color: #f15a39; }

.form-control::-webkit-input-placeholder {
  color: #9fa4a8;
  opacity: 1; }

.form-control:-ms-input-placeholder {
  color: #9fa4a8;
  opacity: 1; }

.form-control::placeholder {
  color: #9fa4a8;
  opacity: 1; }

.custom-select,
.form-control {
  font-family: "Open Sans", sans-serif;
  border-color: #eaeaea;
  font-weight: normal;
  height: 50px;
  border-radius: 8px;
  border-width: 2px;
  padding-left: 20px;
  padding-right: 20px; }
  .custom-select:focus,
  .form-control:focus {
    color: #1d262f;
    border-color: #b7b7b7;
    outline: 0;
    box-shadow: none !important; }

::-moz-selection {
  background: #1d262f;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #1d262f;
  color: #ffffff;
  text-shadow: none; }

@media only screen and (min-width: 320px) {
  .hero:after {
    width: 350px;
    border-radius: 100px;
    top: -600px;
    right: -94%; } }

@media only screen and (min-width: 480px) {
  .hero:after {
    width: 400px;
    border-radius: 100px;
    top: -550px;
    right: -78%; }
  .hero-img img {
    max-width: 100%; }
  .circle-pernik:not(:nth-child) {
    left: -30px !important; }
  .cross-pernik:nth-child(6) {
    background: #ffffff;
    right: -40px; }
    .cross-pernik:nth-child(6):after {
      background: #ffffff; }
  .work .work-container .work-thumbnail {
    -ms-flex: 0 1 calc(50% - 30px);
        flex: 0 1 calc(50% - 30px); }
  .team .team-pic .caption span {
    font-size: 14px; } }

@media only screen and (min-width: 768px) {
  .btn--jtech.btn--lg {
    height: 60px;
    border-radius: 30px;
    font-size: 16px; }
  header {
    padding-left: 30px;
    padding-right: 30px; }
  .hero {
    padding-top: 150px; }
    .hero:after {
      width: 800px;
      border-radius: 240px;
      top: -420px;
      right: -68%; }
    .hero h1 {
      margin-top: 30px; }
  .macbook {
    display: block;
    max-height: 752px;
    margin-top: -282px;
    left: -50%; }
  .service .service-container {
    -ms-flex-pack: center;
        justify-content: center; }
  .service .service-card {
    -ms-flex: 0 1 calc(50% - 30px);
        flex: 0 1 calc(50% - 30px); }
  .contact .contact-form .form-group {
    margin-bottom: 30px; }
  footer .logo-bottom {
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -22px;
    margin-bottom: auto;
    z-index: 2; } }

@media only screen and (min-width: 1024px) {
  header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    transition: background-color ease 0.3s, height ease 0.3s, box-shadow ease 0.3s; }
    header .btn--inverted {
      transition: background-color ease 0.3s, color ease 0.3s, box-shadow ease 0.3s; }
    header.shrink {
      background-color: #ffffff;
      height: 100px;
      box-shadow: 0px 10px 28px 0px rgba(0, 0, 0, 0.06); }
      header.shrink .btn--inverted {
        background-color: #f15a39;
        color: #ffffff; }
  section {
    padding: 120px 0; }
    section.section--lg {
      padding-top: 200px;
      padding-bottom: 200px; }
    section h3 {
      font-size: 40px;
      margin-bottom: 40px;
      padding: 0; }
    section p.lead {
      font-size: 22px; }
  .main-nav {
    margin-left: 40px;
    display: -ms-flexbox;
    display: flex; }
  .hero {
    height: auto;
    padding: 100px 0;
    padding-top: 220px;
    margin-top: 0; }
    .hero:after {
      width: 800px;
      border-radius: 240px;
      top: -280px;
      right: -58%; }
    .hero h1 {
      font-size: 70px;
      margin-top: 50px; }
    .hero p {
      font-size: 24px; }
  .team .lead,
  .about .lead {
    margin-bottom: 80px; }
  .macbook {
    max-height: 846px;
    margin-top: -423px;
    left: -25%; }
  .cta .cta-box {
    padding: 90px 40px; }
  .work .work-thumbnails {
    -ms-flex-order: 1;
        order: 1; }
  .work .work-caption {
    -ms-flex-order: 2;
        order: 2;
    margin: 0; }
  .team .team-container {
    width: 2000px; }
  .team .team-caption {
    margin-bottom: 0; } }

@media only screen and (min-width: 1280px) {
  .main-nav li {
    margin: 0 40px; }
  section {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .hero {
    height: 100vh;
    padding: 0; }
    .hero:after {
      width: 800px;
      border-radius: 240px;
      top: -300px;
      right: -30%; }
    .hero h1 {
      margin-top: 110px;
      font-size: 92px; }
    .hero p {
      font-size: 30px;
      margin-bottom: 60px; }
  .hero-img {
    margin-top: 60px; }
  .about .container {
    margin-top: 100px; }
  .macbook {
    max-height: 705px;
    margin-top: -352.5px;
    left: 0; }
  .service .service-container {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .service .service-card:first-child {
    position: relative;
    top: 50%;
    -ms-transform: translateY(50%);
        transform: translateY(50%); }
  .team .team-container {
    padding: 0 40px; }
  .team:after {
    height: 400px;
    width: 300px;
    border-radius: 120px;
    left: -270px;
    display: block; }
  .team .team-pic .caption {
    padding: 30px 20px; }
  .work .container {
    margin-top: 100px; }
  .contact .lead {
    margin-bottom: 60px; }
  .contact .contact-form textarea.form-control {
    margin-bottom: 50px; } }

@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1200px; }
  header {
    padding-left: 50px;
    padding-right: 50px; }
  .hero:after {
    width: 900px;
    border-radius: 240px;
    top: -300px;
    right: -30%; }
  .macbook {
    max-height: 733.2px;
    margin-top: -366.6px; }
  .team:after {
    height: 500px;
    width: 400px;
    border-radius: 120px;
    left: -370px; } }

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1280px; }
  .hero:after {
    width: 1000px;
    border-radius: 300px;
    top: -350px;
    right: -20%; }
  .macbook {
    max-height: 799px;
    margin-top: -399.5px; } }

@media only screen and (min-width: 1920px) {
  .hero:after {
    right: -10%; }
  .macbook {
    margin-top: -470px; }
  .team:after {
    height: 500px;
    width: 400px;
    border-radius: 120px;
    left: -280px; } }
